<!-- <ActionBar title="Current Challenge"></ActionBar> -->
<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <ActionItem ios.position="left" android.position="actionBar"
    ><Label text="&#xf0fe;" class="fa" nsRouterLink="/challenges/add"></Label>
  </ActionItem>
  <ActionItem
    ios.position="left"
    android.position="actionBar"
    *ngIf="currentChallenge"
    pageTransition="slideLeft"
    ><Label text="&#xf044;" class="fa" nsRouterLink="/challenges/edit"></Label>
  </ActionItem>
</ns-action-bar>
<ScrollView>
  <FlexboxLayout class="page">
    <StackLayout *ngIf="!currentChallenge">
      <Label text="No challenge found"></Label>
      <Button
        class="btn"
        text="Create challenge"
        nsRouterLink="/challenges/add"
        pageTransition="slideLeft"
      ></Button>
    </StackLayout>
    <StackLayout *ngIf="currentChallenge">
      <Label
        class="h1"
        [text]="currentChallenge.title"
        horizontalAlignment="center"
      ></Label>
      <Label
        class="body text-center"
        [text]="currentChallenge.description"
        textWrap="true"
      ></Label>
    </StackLayout>

    <GridLayout
      rows="auto,*,*,*,*,*,*"
      columns="*,*,*,*,*,*,*"
      *ngIf="currentChallenge"
    >
      <Label
        class="text-center week"
        width="100%"
        *ngFor="let weekDay of weekDays; let i = index"
        [text]="weekDay"
        [row]="0"
        [col]="i"
      ></Label>
      <FlexboxLayout
        class="day"
        [ngClass]="{
          'not-settable': !getIsSettable(day.dayInMonth),
          completed: day.status === 1,
          failed: day.status === 2
        }"
        *ngFor="let day of currentChallenge.days; let i = index"
        [row]="getRow(i, day)"
        [col]="day.dayInWeek"
        (tap)="onChangeStatus(day)"
      >
        <Label [text]="day.dayInMonth"></Label>
      </FlexboxLayout>
    </GridLayout>

    <!--  <Button
      marginTop="50"
      text="Change Status"
      class="btn"
      (tap)="onChangeStatus()"
    ></Button> -->
  </FlexboxLayout>
</ScrollView>
