<FlexboxLayout>
  <Button
    text="Completed"
    class="btn btn-success"
    (tap)="onAction('completed')"
    *ngIf="action !== 'completed'"
    [isEnabled]="!done"
  ></Button>
  <Button
    text="&#xf00c;"
    class="fa btn btn-success btn-alt animate-btn"
    *ngIf="action === 'completed'"
  ></Button>

  <Button
    text="Failed"
    class="btn btn-fail"
    (tap)="onAction('failed')"
    *ngIf="action !== 'failed'"
    [isEnabled]="!done"
  ></Button>
  <Button
    text="&#xf00d;"
    class="fa btn btn-fail btn-alt animate-btn"
    *ngIf="action === 'failed'"
  ></Button>

  <Button
    [text]="cancelText"
    class="btn btn-flat"
    (tap)="onAction('cancel')"
  ></Button>
</FlexboxLayout>
